html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.square-button {
    height: 500%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
