@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>
<div class="row mt-4">
    <div class="col-md-6 text-center">
        <a href="@Url.Action("DoktorEkle", "Home")" class="btn btn-primary btn-lg btn-block square-button">
            <i class="fa fa-user-plus"></i> Doktor Ekle
        </a>
    </div>

    <div class="col-md-6 text-center">
        <a href="#" class="btn btn-primary btn-lg btn-block square-button">
            <i class="fa fa-clock"></i> Çalışma Saati Ekle
        </a>
    </div>
</div>
