@{
    ViewData["Title"] = "Giriş";
}

<div class="container mt-5">
    <div class="row">
<div class="col-md-6 text-center">
    <a href="@Url.Action("RandevuAl", "Randevu")" class="btn btn-secondary btn-lg btn-block square-button">
        <i class="fa fa-pencil"></i> Randevu Al
    </a>
</div>

        <div class="col-md-6 text-center">
            <a href="/Home/Randevularim" class="btn btn-secondary btn-lg btn-block square-button">
                <i class="fa fa-book"> Randevularım</i>
            </a>
        </div>
    </div>
</div>
