@model List<AnaBilimDali>

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
</div>

<div>
    <h2>Anabilim Dalları</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Anabilim Dali ID</th>
                <th>Adi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anabilimDali in Model)
            {
                    <tr>
                        <td>@anabilimDali.AnaBilimDaliID</td>
                        <td>@anabilimDali.Adi</td>
                    </tr>
            }
        </tbody>
    </table>
</div>
